absl-py==1.4.0
alabaster==0.7.12
anaconda-anon-usage==2023.03.14
anaconda-client==1.11.0
anaconda-navigator==2.3.1
anaconda-project==0.10.1
anyio==3.6.2
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asgiref==3.8.1
astroid==2.15.6
astropy==5.1.0
astunparse==1.6.3
atomicwrites==1.4.0
attrs==21.2.0
Automat==20.2.0
autopep8==1.6.0
Babel==2.10.3
backcall==0.2.0
backports.functools-lru-cache==1.6.4
backports.tempfile==1.0
backports.weakref==1.0.post1
bcrypt==3.2.0
beautifulsoup4==4.10.0
binaryornot==0.4.4
bitarray==2.6.0
bkcharts==0.2
black==21.12.0
bleach==5.0.1
bokeh==2.4.2
boto3==1.20.0
botocore==1.23.0
Bottleneck==1.3.2
brotlipy==0.7.0
build==1.2.1
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.4
click==8.0.1
cloudpickle==2.0.0
clyent==1.2.2
colorama==0.4.4
colorcet==2.0.0
commonmark==0.9.0
comtypes==1.1.10
conda==22.9.0
conda-build==3.22.0
conda-content-trust==0.2.0
conda-pack==0.7.0
conda-package-handling==1.7.3
conda-repo-cli==1.0.20
conda-token==0.2.0
conda-verify==3.4.2
constantly==15.1.0
cookiecutter==1.7.2
cryptography==3.4.8
cssselect==1.1.0
cycler==0.10.0
Cython==0.29.28
cytoolz==0.11.0
daal4py==2021.6.0
dask==2021.10.0
datashader==0.13.0
datashape==0.5.4
debugpy==1.5.1
decorator==5.0.9
defusedxml==0.7.1
diff-match-patch==20220930
dill==0.3.4
distributed==2021.10.0
Django==4.2.13
dm-tree==0.1.6
docutils==0.17.1
entrypoints==0.3
et-xmlfile==1.1.0
fastjsonschema==2.16.2
filelock==3.6.0
flake8==4.0.1
Flask==2.0.1
flatbuffers==1.12
fonttools==4.28.5
fsspec==2021.10.1
future==0.18.2
gast==0.4.0
gensim==4.0.1
glob2==0.7
google-pasta==0.2.0
greenlet==1.1.2
grpcio==1.39.0
gunicorn==20.1.0
h5py==3.1.0
HeapDict==1.0.1
holoviews==1.14.8
hvplot==0.7.3
hyperlink==21.0.0
idna==3.3
imagecodecs==2021.10.24
imageio==2.9.0
imagesize==1.3.0
importlib-metadata==4.8.2
incremental==21.3.0
inflection==0.5.1
iniconfig==1.1.1
intake==0.6.4
intervaltree==3.1.0
ipykernel==6.5.0
ipython==7.31.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
isort==5.9.3
itemadapter==0.2.0
itemloaders==0.3.0
itsdangerous==2.0.1
jdcal==1.4.1
jedi==0.18.1
jellyfish==0.8.8
Jinja2==3.0.3
jinja2-time==0.2.0
jmespath==0.10.0
joblib==1.0.1
json5==0.9.6
jsonschema==3.2.0
jupyter==1.0.0
jupyter-console==6.4.0
jupyter-server==1.11.0
jupyter_client==7.1.0
jupyter_core==4.9.2
jupyterlab==3.2.5
jupyterlab-pygments==0.1.2
jupyterlab-server==2.9.0
jupyterlab-widgets==1.0.2
keras==3.4.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keyring==23.0.1
kiwisolver==1.3.2
lazy-object-proxy==1.6.0
libarchive-c==3.5.0
libclang==14.0.1
llvmlite==0.38.0
locket==0.2.1
lxml==4.6.3
lz4==3.1.10
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.4.3
matplotlib-inline==0.1.3
mccabe==0.6.1
menuinst==1.4.4
#absl-py
#alabaster
#anyio
appdirs==1.4.4
#argon2-cffi
#arrow
asgiref==3.8.1
#astroid
#astropy
astunparse==1.6.3
atomicwrites==1.4.0
#attrs
#Automat
#autopep8
#Babel
#backcall
#bcrypt
#beautifulsoup4
#binaryornot
#bitarray
#black
#bokeh
#boto3
#botocore
#Bottleneck
brotlipy==0.7.0
build==1.2.1
#certifi
#cffi
#charset-normalizer
#click
#cloudpickle
#colorama
#colorcet
#commonmark
comtypes==1.4.6
constantly==15.1.0
#cookiecutter
#cryptography
cssselect==1.1.0
#cycler
#Cython
cytoolz==0.12.3
#dask
#datashader
#debugpy
#decorator
#defusedxml
#diff-match-patch
#dill
#distributed
Django==4.2.13
#dm-tree
#docutils
#entrypoints
et-xmlfile==1.1.0
#fastjsonschema
#filelock
flake8==2.3.0
Flask==3.0.3
flatbuffers==24.3.25
fonttools==4.25.0
#fsspec
#future
gast==0.6.0
#gensim
#glob2
google-pasta==0.2.0
#greenlet
grpcio==1.65.1
gunicorn==23.0.0
h5py==3.11.0
#holoviews
#hvplot
#hyperlink
#idna
#imagecodecs
#imageio
#imagesize
#importlib-metadata
#incremental
inflection==0.5.1
#iniconfig
#intake
#intervaltree
#ipykernel
#ipython
#ipywidgets
#isort
#itemadapter
#itemloaders
#itsdangerous
#jdcal
#jedi
#jellyfish
#Jinja2
#jinja2-time
#jmespath
#joblib
#json5
#jsonschema
#jupyter
#jupyter-console
#jupyter-server
#jupyter_client
#jupyter_core
#jupyterlab
#jupyterlab-pygments
#jupyterlab-server
#jupyterlab-widgets
keras==3.4.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
#keyring
#kiwisolver
#lazy-object-proxy
#libarchive-c
libclang==18.1.1
llvmlite==0.43.0
#lxml
#lz4
#Markdown
#MarkupSafe
#matplotlib
#matplotlib-inline
mccabe==0.6.1
#mistune
mkl-fft==1.3.8
#mkl-random
mkl-service==2.4.1
#ml-dtypes
#mock
mpmath==1.2.1
#msgpack
#multipledispatch
munkres==1.1.4
mypy-extensions==0.4.3
#navigator-updater==0.3.0
#nbclassic
#nbclient
#nbconvert
nbformat==5.4.0
#nest-asyncio
#networkx
#nltk
#nose
#notebook
#numba
#numexpr
#numpy
#numpydoc
#olefile
openpyxl==3.0.10
opt-einsum==3.3.0
optree==0.12.1
#packaging
#pandas
#pandocfilters
#panel
#param
#paramiko
#parsel
#parso
#partd
#pathspec
patsy==0.5.6
pep8==1.7.1
#pexpect
#pickleshare
Pillow==9.2.0
pip-tools==7.4.1
#pkginfo
#platformdirs
#plotly
#pluggy
#poyo
#prometheus-client
#prompt-toolkit
#Protego
protobuf==4.25.3
#psutil
#ptyprocess
#py
#pyasn1
pyasn1-modules==0.2.8
#pycodestyle
#pycparser
#pyct
#pycurl
PyDispatcher==2.0.7
#pydocstyle
#pyerfa
#pyflakes
#Pygments
#PyHamcrest
#PyJWT
#pylint
pyls-spyder==0.4.0
#PyNaCl
#pyodbc
#pyOpenSSL
#pyparsing
pyproject_hooks==1.1.0
PyQt5==5.15.11
PyQt5_sip==12.15.0
PyQtWebEngine==5.15.7
#pyrsistent
#PySocks
pytest==7.1.2
#python-dateutil
python-dotenv==1.0.1
#python-lsp-black
python-lsp-jsonrpc==1.0.0
#python-lsp-server
#python-slugify
#python-snappy
#pytz
#pyviz-comms
#PyWavelets
#pywin32==306
#pywin32-ctypes
#pywinpty
PyYAML==6.0
#pyzmq
#QDarkStyle
#qstylizer
#QtAwesome
#qtconsole
#QtPy
queuelib==1.5.0
#regex
#requests
#requests-file
#requests-toolbelt
#rich
#rope
#Rtree
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
s3transfer
#scikit-image
#scikit-learn
scikit-learn-intelex==2024.6.0
scipy==1.14.1
#Scrapy
#seaborn
#Send2Trash
#service-identity
sip==6.8.6
#six
#smart-open
#sniffio
#snowballstemmer
#sortedcollections
#sortedcontainers
#soupsieve
#Sphinx
#sphinxcontrib-applehelp
#sphinxcontrib-devhelp
#sphinxcontrib-htmlhelp
#sphinxcontrib-jsmath
#sphinxcontrib-qthelp
#sphinxcontrib-serializinghtml
#spyder
#spyder-kernels
#SQLAlchemy
sqlparse==0.5.0
statsmodels==0.14.2
#sympy
#tables==3.6.1
#tabulate
TBB==2021.13.1
#tblib
#tenacity
tensorboard==2.17.0
tensorboard-data-server==0.7.2
#tensorflow==2.17.0
#tensorflow-intel==2.17.0
#tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
#terminado
#testpath
#text-unidecode
#textdistance
#threadpoolctl
#three-merge
#tifffile
#tinycss
#tldextract
#toml
#tomli
#tomlkit
#toolz
#tornado
#tqdm
#traitlets
#Twisted
#twisted-iocpsupport
typing_extensions==4.12.2
tzdata==2024.1
#ujson
#Unidecode
#w3lib
#watchdog
#wcwidth
webencodings==0.5.1
#websocket-client
#Werkzeug
#widgetsnbextension
#win-inet-pton
win-unicode-console==0.5
wincertstore==0.2
#wrapt
#xarray
#xlrd
#XlsxWriter
#xlwings
#yapf
zict==2.1.0

