#absl-py
#alabaster
#anyio
appdirs==1.4.4
#argon2-cffi
#arrow
asgiref==3.8.1
#astroid
#astropy
astunparse==1.6.3
atomicwrites==1.4.0
#attrs
#Automat
#autopep8
#Babel
#backcall
#bcrypt
#beautifulsoup4
#binaryornot
#bitarray
#black
#bokeh
#boto3
#botocore
#Bottleneck
brotlipy==0.7.0
build==1.2.1
#certifi
#cffi
#charset-normalizer
#click
#cloudpickle
#colorama
#colorcet
#commonmark
comtypes==1.4.6
constantly==15.1.0
#cookiecutter
#cryptography
cssselect==1.1.0
#cycler
#Cython
cytoolz==0.12.3
#dask
#datashader
#debugpy
#decorator
#defusedxml
#diff-match-patch
#dill
#distributed
Django==4.2.13
#dm-tree
#docutils
#entrypoints
et-xmlfile==1.1.0
#fastjsonschema
#filelock
flake8==2.3.0
Flask==3.0.3
flatbuffers==24.3.25
fonttools==4.25.0
#fsspec
#future
gast==0.6.0
#gensim
#glob2
google-pasta==0.2.0
#greenlet
grpcio==1.65.1
gunicorn==23.0.0
h5py==3.11.0
#holoviews
#hvplot
#hyperlink
#idna
#imagecodecs
#imageio
#imagesize
#importlib-metadata
#incremental
inflection==0.5.1
#iniconfig
#intake
#intervaltree
#ipykernel
#ipython
#ipywidgets
#isort
#itemadapter
#itemloaders
#itsdangerous
#jdcal
#jedi
#jellyfish
#Jinja2
#jinja2-time
#jmespath
#joblib
#json5
#jsonschema
#jupyter
#jupyter-console
#jupyter-server
#jupyter_client
#jupyter_core
#jupyterlab
#jupyterlab-pygments
#jupyterlab-server
#jupyterlab-widgets
keras==3.4.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
#keyring
#kiwisolver
#lazy-object-proxy
#libarchive-c
libclang==18.1.1
llvmlite==0.43.0
#lxml
#lz4
#Markdown
#MarkupSafe
#matplotlib
#matplotlib-inline
mccabe==0.6.1
#mistune
mkl-fft==1.3.8
#mkl-random
mkl-service==2.4.1
#ml-dtypes
#mock
mpmath==1.2.1
#msgpack
#multipledispatch
munkres==1.1.4
mypy-extensions==0.4.3
#navigator-updater==0.3.0
#nbclassic
#nbclient
#nbconvert
nbformat==5.4.0
#nest-asyncio
#networkx
#nltk
#nose
#notebook
#numba
#numexpr
#numpy
#numpydoc
#olefile
openpyxl==3.0.10
opt-einsum==3.3.0
optree==0.12.1
#packaging
#pandas
#pandocfilters
#panel
#param
#paramiko
#parsel
#parso
#partd
#pathspec
patsy==0.5.6
pep8==1.7.1
#pexpect
#pickleshare
Pillow==9.2.0
pip-tools==7.4.1
#pkginfo
#platformdirs
#plotly
#pluggy
#poyo
#prometheus-client
#prompt-toolkit
#Protego
protobuf==4.25.3
#psutil
#ptyprocess
#py
#pyasn1
pyasn1-modules==0.2.8
#pycodestyle
#pycparser
#pyct
#pycurl
PyDispatcher==2.0.7
#pydocstyle
#pyerfa
#pyflakes
#Pygments
#PyHamcrest
#PyJWT
#pylint
pyls-spyder==0.4.0
#PyNaCl
#pyodbc
#pyOpenSSL
#pyparsing
pyproject_hooks==1.1.0
PyQt5==5.15.11
PyQt5_sip==12.15.0
PyQtWebEngine==5.15.7
#pyrsistent
#PySocks
pytest==7.1.2
#python-dateutil
python-dotenv==1.0.1
#python-lsp-black
python-lsp-jsonrpc==1.0.0
#python-lsp-server
#python-slugify
#python-snappy
#pytz
#pyviz-comms
#PyWavelets
pywin32==306
#pywin32-ctypes
#pywinpty
PyYAML==6.0
#pyzmq
#QDarkStyle
#qstylizer
#QtAwesome
#qtconsole
#QtPy
queuelib==1.5.0
#regex
#requests
#requests-file
#requests-toolbelt
#rich
#rope
#Rtree
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
s3transfer
#scikit-image
#scikit-learn
scikit-learn-intelex==2024.6.0
scipy==1.14.1
#Scrapy
#seaborn
#Send2Trash
#service-identity
sip==6.8.6
#six
#smart-open
#sniffio
#snowballstemmer
#sortedcollections
#sortedcontainers
#soupsieve
#Sphinx
#sphinxcontrib-applehelp
#sphinxcontrib-devhelp
#sphinxcontrib-htmlhelp
#sphinxcontrib-jsmath
#sphinxcontrib-qthelp
#sphinxcontrib-serializinghtml
#spyder
#spyder-kernels
#SQLAlchemy
sqlparse==0.5.0
statsmodels==0.14.2
#sympy
#tables==3.6.1
#tabulate
TBB==2021.13.1
#tblib
#tenacity
tensorboard==2.17.0
tensorboard-data-server==0.7.2
tensorflow==2.17.0
tensorflow-intel==2.17.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
#terminado
#testpath
#text-unidecode
#textdistance
#threadpoolctl
#three-merge
#tifffile
#tinycss
#tldextract
#toml
#tomli
#tomlkit
#toolz
#tornado
#tqdm
#traitlets
#Twisted
#twisted-iocpsupport
typing_extensions==4.12.2
tzdata==2024.1
#ujson
#Unidecode
#w3lib
#watchdog
#wcwidth
webencodings==0.5.1
#websocket-client
#Werkzeug
#widgetsnbextension
#win-inet-pton
win-unicode-console==0.5
wincertstore==0.2
#wrapt
#xarray
#xlrd
#XlsxWriter
#xlwings
#yapf
zict==2.1.0

